@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-surface: #f8f9fa;
    --color-background: #f8f9fa;
    --color-text: #334155;
    --color-text-muted: #9ca3af;
    --color-border: #e5e7eb;
    --color-accent1: #13daec;
    --color-accent2: #ff7f50;
  }

  .dark {
    --color-surface: #121c26;
    --color-background: #0a1622;
    --color-text: #ffffff;
    --color-text-muted: #94a3b8;
    --color-border: rgba(255, 255, 255, 0.1);
    --color-accent1: #2ecc71;
    --color-accent2: #f39c12;
  }

  body {
    @apply bg-background text-text transition-colors duration-300;
  }
}
